.webiste-logo{
width: 40px;
height: 30px;
}

.top-left-label-margin{
  margin-left: 100px;
  margin-top:46px;
}

.top-left-label{
  margin-right: 520px;
  padding: 10px;
  width: 116px;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
} 

.top-right-label-margin{
  margin: 20px;
  margin-top:46px;
  padding: 10px;
}
.black-button1{
  width: 110px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
  padding: 15px 20px;
  margin-right: 90px;
  text-align: center;
  margin-top:46px;

}

.margin2{
  margin-bottom: 92px;
  margin-top: 44px;
}


.blue-button{
width: 110px;
height: 50px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
border-width: 0px;
background-color: #2660FF;
text-align: center;
padding: 15px;
color: #FFFFFF;
margin-left: 100px;

}

.white-button{
  width: 110px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  padding: 15px;
  margin-left: 20px;

  }

  .black-button2{
    width: 116px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    padding: 15px 20px;
    margin-left: 100px;
    margin-bottom: 150px;
}

  .main-heading{
    width: 439px;
    height: 152px;
    font-weight: 900;
    font-size: 72px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin-left: 100px;

  }
  .image-page1{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
  }
  
  .paragraph-page1{
    width: 573px;
    height: 234px;
    margin-left: 100px;
    font-weight: 400;
    font-size: 26px;
    margin-right: 138px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 32px;
  }

.style-10{
    width: 131px;
    height: 73px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 91%;
    margin-left: 100px;
    margin-top: 10px;
} 

.style-8{
  width: 131px;
  height: 73px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 91%;
  margin-left: 100px;
  margin-top: 40px;
}

.style-project-development-text{
  width: 300px;
  height: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 91%;
  margin-top: 16px;
  margin-left: 100px;
}

  .main-heading2-works{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    width: 218px;
    height: 80px;
    margin-left: 100px;
    margin-right: 32px;
  }

  .image-sideways-arrow-page2{
    width: 50px;
height: 50px;
margin-top: 10px;
  }

  .tagline-main-heading{
    width: 271px;
    height: 30px;
    color: grey;
    margin-left: 100px;
    margin-top: 32px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

  }

  


  .image-container1{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 56px;
    margin-bottom: 56px;
    padding: 10px;
  }

  .image-tags{
    font-weight: 500;
font-size: 24px;
  }

  .space-between-images{
    margin-right: 36px;
  }

  .black-bg{
    background-color: black;
    width: 1203px;
height: 898px;
  }

  .review-heading{
    width: 439px;
height: 76px;
font-weight: 400;
font-size: 72px;
line-height: 76px;
color: white;
margin-left: 100px;
margin-top: 80px;
margin-right: 664px;

  }

.stars{
  width: 100px;
height: 18px;
margin-left: 17px;
margin-bottom: 26px;
}

.review-images{
  width: 56px;
height: 56px;
margin-left: 256px;

}

.ceo-names{
  color: white;
  width: 246px;
height: 30px;
margin-left: 17px;

}

.review-paragraph{
  width: 730px;
height: 180px;
margin-left: 236.5px;
color: white;
}

.faqs-container{
  font-family: 'Open Sans', sans-serif;
  margin-left: 100px;
}

.faqs-main-heading{
  width: 439px;
height: 76px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 76px;
margin-top: 150px;
}

.faqs-ques{
  width: 750px;
height: 39px;
margin-top: 56px;
margin-bottom: 28px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 150%;
}
.faqs-arrow{
  width: 12px;
height: 6px;
margin-top: 70px;
}

.faqs-ans{
width: 648px;
height: 150px;
color: grey;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 168%;
margin-top: 28px;
margin-bottom: 56px;
}

.bottom-container{
  background-color: #F1F4FA;
  width: 1203px;
height: 357px;
  /* margin-left: 100px; */
}

.arrange-row{
  display: flex;
  flex-direction: row;
  
}

.bottom-side-heading{
 margin-top: 85px;
 margin-left: 15px;
 width: 116px;
height: 20px;
font-family: 'Open Sans', sans-serif;

font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 30px;
}

.bottom-logo{
  width: 40px;
height: 40px;
margin-top: 80px;
margin-left: 100px;
}

.buttom-sub-logos{
  width: 16px;
  height: 16px;
  margin-left: 120px;
  margin-right: 13px;
  margin-top: 5px;
}

.margin-botton-left-spacing{
  margin-left: 760px;
  
width: 47px;
height: 22px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}

.end-footers{
  width: 226px;
height: 18px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
}
.footer1{
margin-top: 187px;
margin-left: 100px;
margin-bottom: 30px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;


color: #B6BFD1;



}
.footer2{
  margin-top: 187px;
  margin-left: 537px;
  margin-bottom: 40px;
  color: #B6BFD1;
  }
  .footer3{
    margin-top: 187px;
    margin-left: 25px;
    margin-bottom: 36.5px;
    color: #B6BFD1;
    
    }
    
